[submodule "MiniSTM32H723_Micropython_Port"]
	path = MiniSTM32H723_Micropython_Port
	url = https://github.com/nspsck/MiniSTM32H723_Micropython_Port.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "WeActStudio.MiniSTM32H723"]
	path = WeActStudio.MiniSTM32H723
	url = https://github.com/WeActStudio/WeActStudio.MiniSTM32H723.git
